* { 
    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
    font-size: 32px;

}
body {
    background-color: #336bd2;
    margin: 10px;
}

main {
    background-color: #00072c;
    margin: auto;
    width: 500px;
    padding: 10px;
    box-shadow: 3px 3px 5px #ffffff;
}